<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	    <!-- 读取properties文件  后续改成读远程 -->
	 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name="locations">
            <list>
                <value>classpath:/config.properties</value>
            </list>
        </property>
    </bean>
    	    <!-- 读取properties文件  后续改成读远程 -->
<!--      <bean id="propertyConfigurer" class="com.rising.common.component.RemotePropertyConfigurer" >
    	<property name="remoteUrl" value="http://localhost:8080/bhyf-cc/read/prop" />
		<property name="projectCode" value="CON_CEN" />
		<property name="enginCode" value="BHYF_CC" />
		<property name="envirCode" value="ENV_TYPE_DEVELOP" />
		<property name="loadConfigTimeOut" value="30000" />
    </bean> -->

	
	<!-- 扫描注解配置 -->
	<context:component-scan base-package="com.rising.cc" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan> 
	
	<import resource="classpath:spring-shiro-config.xml"/>  
	<import resource="classpath:spring-mybatis.xml"/>  
	<!-- <import resource="classpath:spring-mail.xml"/>   -->

</beans>