<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员管理</title>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/themes/icon.css">
<script type="text/javascript" src="${contextPath}/resources/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/easyui-lang-zh_CN.js"></script>
<style type="text/css">
<!--
.panel-margin-buttom {
	margin-bottom: 20px;
}

#searchpanel a.pushBtn {
	-moz-user-select: none;
	background: url("${contextPath}/resources/image/button/btnout_bg_left.gif") no-repeat scroll left
		top transparent;
	float: left;
	height: 24px;
	margin: 2px 5px 0 0;
	outline: medium none;
	text-decoration: none;
}

#searchpanel a.pushBtn img {
	float: left;
	margin: 2px 0 4px 6px;
	border: 0;
}

#searchpanel a.pushBtn b {
	background: url("${contextPath}/resources/image/button/btnout_bg_right.gif") no-repeat scroll
		right top transparent;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 7px 0 5px;
	white-space: nowrap;
}

#searchpanel a.pushBtn:hover {
	background: url("${contextPath}/resources/image/button/btnover_bg_left.gif") no-repeat scroll
		left top transparent;
	text-decoration: none;
}

#searchpanel a.pushBtn:hover b {
	background: url("${contextPath}/resources/image/button/btnover_bg_right.gif") no-repeat scroll
		right top transparent;
	color: #114477;
	font-size: 12px;
}

li {
	list-style: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.clearfix {
	zoom: 1;
}
#dlg td{
	border : 1px solid #CCCCCC;
	border-bottom : 0px;
}
#detail_dialog td{
	border : 1px solid #CCCCCC;
	border-bottom : 0px;
}

#edit-dialog td{
	border : 1px solid #CCCCCC;
	border-bottom : 0px;
}
-->
</style>

</head>
<script type="text/javascript">
String.prototype.trim = function() {
	  return this.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
	};
	function exportExcel() {
			if(window.confirm("确定导出数据？")){
				var userName = $("#userName").val().trim();
				var mobile = $("#mobile").val().trim();
				var userType = $("#userType").val().trim();
				var jobNo = $("#jobNo").val().trim();
				var startTime = $("#startTime").datebox('getValue');
				var endTime = $("#endTime").datebox('getValue');
				var canshu = "&startTime=" + startTime + "&endTime=" + endTime
						+ "&userName=" + userName
						+ "&mobile=" + mobile + "&userType="
						+ userType+ "&jobNo="+jobNo;
				var lianjie = "exportDaInfo?" + canshu;
				window.location.href = lianjie;
			}else{
				return false;
			}
		}
	function toUpdate() {

			var rows = $('#dg').datagrid('getSelections');
			if (rows.length == 0) {
				alert("请选择需要编辑的数据！");
				return false;
			} else if (rows.length > 1) {
				alert("一次只能编辑一行！");
			} else {
				var row = $("#dg").datagrid('getSelected');
				$("#edit_id").val(row.id);
				$("#edit_userType").val(row.userType);
				$("#edit_userSex").val(row.userSex);
				$("#edit_realName").val(row.realName);
				$("#edit_idNum").val(row.idNum);
				$("#edit_jobNo").val(row.jobNo);
				$("#edit_mobile").val(row.mobile);
				
				$('#edit-dialog').dialog('open');
			}
		}

function initPwd() {
			var rows = $('#dg').datagrid('getSelections');
			if (rows.length == 0) {
				alert("请选择需要初始化密码的数据！");
				return false;
			}else{
				if(window.confirm("确认初始化密码？")){
					var menuIds = '';
					for(var i=0;i<rows.length;i++){
						menuIds = menuIds + ","+rows[i].id;
					}
					$.ajax({
						url : "${contextPath}/userInfo/resetPwd",
						data : "id="+ menuIds,
						dataType : "json",
						type : "post",
						success : function(data) {
							if(data.respCode == 0){
								alert(data.respInfo);
								//$("#search").click();
							}else{
								alert(data.respInfo);
							}
						},
						error : function(data) {
							alert("error 后台出现错误！");
						}
					});
				}else{
					return false;
				}
			}
		}

	function pagerFilter(data) {
		//var data = data.rows;
		var dg = $("#dg");
		var opts = dg.datagrid('options');
		var pager = dg.datagrid('getPager');
		if(typeof data.originalRows== 'undefined'){
			data = {
					total : data.listSize,
					rows : data.rows
				};
				pager.pagination({
					onSelectPage : function(pageNum, pageSize) {
						opts.pageNumber = pageNum;
						opts.pageSize = pageSize;
						pager.pagination('refresh', {
							pageNumber : pageNum,
							pageSize : pageSize
						});
						dg.datagrid('loadData', data);
					}
				});
				data.originalRows = (data.rows);
				return data;
		}else{
			var userName = $("#userName").val().trim();
			var mobile = $("#mobile").val().trim();
			var userType = $("#userType").val().trim();
			var jobNo = $("#jobNo").val().trim();
			var startTime = $("#startTime").datebox('getValue');
			var endTime = $("#endTime").datebox('getValue');
			var newData = getData(userName,mobile,userType,jobNo,startTime,endTime);
			data.total = newData.listSize;
			data.rows = newData.rows;
			pager.pagination({
				onSelectPage : function(pageNum, pageSize) {
					opts.pageNumber = pageNum;
					opts.pageSize = pageSize;
					pager.pagination('refresh', {
						pageNumber : pageNum,
						pageSize : pageSize
					});
					dg.datagrid('loadData', data);
				}
			});
			data.originalRows = (data.rows);
			return data;
		}	
	}
	function getData(userName,mobile,userType,jobNo,startTime,endTime) {
		var rows = null;
		var dg = $("#dg");
		var opts = dg.datagrid('options');
		var pageSize = opts.pageSize;
		var pageIndex = opts.pageNumber;
		$.ajax({
			url : "${contextPath}/userInfo/getUserInfoList",
			async : false,
			data : {
				"pageSize" : pageSize,
				"pageIndex" : pageIndex,
				"userName" : userName,
				"mobile" : mobile,
				"userType" : userType,
				"jobNo" : jobNo,
				"startTime" : startTime,
				"endTime" : endTime
			},
			dataType : "json",
			type : "post",
			success : function(data) {
				rows = data;
			},
			error : function(data) {
				alert("error 后台出现错误！");
			}
		});
		return rows;
	}
	$(function() {
		initTime();
		$("#search").click(function() {
			var userName = $("#userName").val().trim();
			var mobile = $("#mobile").val().trim();
			var userType = $("#userType").val().trim();
			var jobNo = $("#jobNo").val().trim();
			var startTime = $("#startTime").datebox('getValue');
			var endTime = $("#endTime").datebox('getValue');
			$('#dg').datagrid({
				loadFilter : pagerFilter,
				pageNumber : 1
			}).datagrid('loadData', getData(userName,mobile,userType,jobNo,startTime,endTime));
		});
		$("#search").click();
		$("#clear").click(function(){
			$("#userName").val('');
			$("#mobile").val('');
			$("#userType").val('');
			$("#jobNo").val('');
			initTime();
		});
		
		$("#updateUserInfo").click(
				function() {
					
					var id = $("#edit_id").val();
					var realName = $("#edit_realName").val().trim();
					if (realName == '') {
						alert('请填写用户真实姓名！');
						return false;
					}
					var userType = $("#edit_userType").val().trim();
					if (userType == '') {
						alert('请选择用户类别！');
						return false;
					}
					var userSex = $("#edit_userSex").val().trim();
					if (userSex == '') {
						alert('请选择用户性别！');
						return false;
					}
					var idNum = $("#edit_idNum").val().trim();
					if (idNum == '') {
						alert('请填写用户身份证号！');
						return false;
					}
					var mobile = $("#edit_mobile").val().trim();
					if (mobile == '') {
						alert('请填写用户手机号码！');
						return false;
					}
					var jobNo = $("#edit_jobNo").val().trim();
					if (jobNo == '') {
						alert('请填写学号/教工号！');
						return false;
					}
					$.ajax({
						url : "${contextPath}/userInfo/editUserInfo",
						data : {
							"id" : id,
							"userType" : userType,
							"userSex" : userSex,
							"realName" : realName,
							"idNum" : idNum,
							"mobile" : mobile,
							"jobNo" : jobNo
							
						},
						dataType : "json",
						type : "post",
						success : function(data) {
							if(data.respCode == 0){
								alert(data.respInfo);
								$('#edit-dialog').dialog('close');
								$("#search").click();
							}else{
								alert(data.respInfo);
							}
							
						},
						error : function(data) {
							alert("error 后台出现错误！");
						}
					});
				});
		$("#infoMenu").click(
			function(){
				$('#info-dialog').dialog('close');
			}
		);
	});
	
	
		
	function operate(value,row,index){
		return "<a href=\"javascript:lookInfo1('" + row.id +"');\">查看</a><a href=\"javascript:resetPwd('" + row.id +"');\">初始化密码</a>";
	} 
	
	function look(id,status) {
		if(confirm("确定初始化密码？")){
			$.ajax({
				url:"${contextPath}/userInfo/resetPwd",
				type:"post",
				dataType:"json",
				data : {
					"id" : id
				},
				success:function(data){
					if(data.respCode == 0){
						alert(data.respInfo);
						//$("#search").click();
					}else{
						alert(data.respInfo);
					}
				},
				error:function(){}
			});
		}
	}

	function userType(value,row,index){
		if(value == 0){
			return "老师";
		}else if(value == 1){
			return "学生";
		}else if(value == 2){
			return "校外人员";
		}
		
	}
	function lookInfo(){
		var row = $('#dg').datagrid('getSelected');
		if(row == null){
			alert("请选择一条记录");
			return
		}
		$.ajax({
				url:"${contextPath}/userInfo/findUserInfoById",
				type:"post",
				dataType:"json",
				data : "id="+row.id,
				success:function(row){
					$("#info_realName").val(row.realName);
					$("#info_mobile").val(row.mobile);
					$("#info_idNum").val(row.idNum);
					$("#info_userType").val(row.userType);
					$("#info_userSex").val(row.userSex);
					$("#info_jobNo").val(row.jobNo);
					$("#info_registerTime").val(row.registerTime1);
					
					$('#info-dialog').dialog('open');	
				},
				error:function(){}
			});
	}
	
	function initTime(){
		var today = new Date();
				var year = today.getFullYear();
				var month = today.getMonth() + 1;
				var day = today.getDate();
				if (month < 10) {
					month = "0" + month;
				}
				if (day < 10) {
					day = "0" + day;
				}
				var enddate = year + "-" + month + "-" + day;
				today.setDate((today.getDate() - 6));
				var year = today.getFullYear();
				var month = today.getMonth() + 1;
				var day = today.getDate();
				if (month < 10) {
					month = "0" + month;
				}
				if (day < 10) {
					day = "0" + day;
				}
				var startdate = year + "-" + month + "-" + day;
	}
</script>
<body class="easyui-layout" style="background: #DFE8F6; margin-top: 4px; margin-left: 4px; margin-right: 4px; width: auto;">
<div id="jqueryToolbar" style="padding:5px;height:auto">
	<div>
		<table>
			<tr style="Valign: center; text-decoration: none; line-heigth: 30px; height: 30px; margin-left: 10px;">
				<td>姓名：</td>
				<td>
				<input type="text" id="userName" style="width: 100px;" />
				</td>
				<td>手机号：</td>
				<td>
				<input type="text" id="mobile" style="width: 100px;" />
				</td>
				<td>用户类型：</td>
				<td>
				<select id="userType" style="width: 100px;">
					<option value="">全部</option>
					<option value="0">老师</option>
					<option value="1">学生</option>
					<option value="2">校外人员</option>
				</select>
				</td>
				<td>学号/教工号：</td>
				<td>
				<input type="text" id="jobNo" style="width: 100px;" />
				</td>
			</tr>
			<tr
				style="Valign: center; text-decoration: none; line-heigth: 30px; height: 30px; margin-left: 10px;">
				<td>注册开始时间：</td>
				<td><input type="text" id="startTime" class="easyui-datebox"
					editable="false" style="width: 100px;" /></td>
				<td>注册结束时间：</td>
				<td><input type="text" id="endTime" class="easyui-datebox"
					editable="false" style="width: 100px;" /></td>
			</tr>
		</table>
	</div>
	<div style="margin-top:5px; margin-left:10px; padding-bottom:8px; border-bottom:1px solid #ccc;">
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-search" id = "search">查询</a>
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-large-smartart" onclick="lookInfo()">详情</a>
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-print" onclick="exportExcel()">导出</a>
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-lock" onclick="initPwd()">初始化密码</a>
		<!--<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" onclick="toUpdate()">修改</a>-->
	</div>
</div>
<div id="mainPanle" region="center" split="true" border="false">
	<table id="dg" class="easyui-datagrid" title="会员信息列表"
		data-options="rownumbers:true,singleSelect:true,toolbar:jqueryToolbar,pagination:true,
				pageSize:20,remoteSort:false,fitColumns:true,fit:true,
				multiSort:true">
		<thead>
			<tr>
				<th data-options="field:'realName',width:75, align:'center',sortable:true">姓名</th>
				<th data-options="field:'mobile',width:75, align:'center',sortable:true">手机号</th>
				<th data-options="field:'userType',width:150, align:'center',sortable:true,formatter:userType">用户类型</th>
				<th data-options="field:'jobNo',width:75, align:'center',sortable:true">学号/教工号</th>
				<th data-options="field:'registerTime1',width:75, align:'center',sortable:true">注册时间</th>
			</tr>
		</thead>
	</table>
	<div id="info-dialog" class="easyui-dialog" title="详情"
		data-options="iconCls:'icon-save',closed:true"
		style="padding: 20px;">
		<div id="div3" align="center">
			<table align="center" cellspacing="0" width="375px">
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">姓名:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<input type="text" id="info_realName" style="width:200px; height:20px;" disabled="disabled"/>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">用户类型:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;" >
						<select id="info_userType" disabled="disabled">
							<option value="">---请选择---</option>
							<option value="0">老师</option>
							<option value="1">学生</option>
							<option value="2">校外人员</option>
						</select>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">学号/教工号:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<input type="text" id="info_jobNo" style="width:200px; height:20px;" disabled="disabled"/>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">性别:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<select id="info_userSex" disabled="disabled">
							<option value="">---请选择---</option>
							<option value="0">未知</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">身份证号:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<input type="text" id="info_idNum" style="width:200px; height:20px;" disabled="disabled"/>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">手机号码:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;" >
						<input type="text" id="info_mobile" style="width:200px; height:20px;" disabled="disabled"/>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">注册时间:</td>
					<td style="width: 200px; text-align: left;  border: 1px solid #CCCCCC; border-left: 0px;" >
						<input type="text" id="info_registerTime" style="width:200px; height:20px;" disabled="disabled"/>
					</td>
				</tr>
			</table>
			
		</div>
		<div align="center" style="margin-top:20px;">
			<input type="button" value="关闭" id="infoMenu"  style="width:100px;background-color:#4691d1; border:1px solid #047adf; display:block; text-align:center; color:white; font-size:14px;line-height:30px;font-family:'微软雅黑';" />
		</div>
	</div>
	
	<div id="edit-dialog" class="easyui-dialog" title="编辑"
		data-options="iconCls:'icon-save',closed:true"
		style="padding: 20px;">
		<div id="div2" align="center" >
			<input type="hidden" id="edit_id"/>
			<table align="center" cellspacing="0" width="375px">
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">姓名:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><input type="text" id="edit_realName" style="width:200px; height:20px;" /></td>
					<td style="width: 70px; text-align: left;  border: 1px solid #CCCCCC; border-left: 0px;"><font color="red">&nbsp;*&nbsp;必填</font></td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">用户类型:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<select id="edit_userType">
							<option value="">---请选择---</option>
							<option value="0">老师</option>
							<option value="1">学生</option>
							<option value="2">校外人员</option>
						</select>
					</td>
					<td style="width: 70px; text-align: left;  border-left: 0px;"><font color="red">&nbsp;*&nbsp;必填</font></td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">学号/教工号:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><input type="text" id="edit_jobNo" style="width:200px; height:20px;" /></td>
					<td style="width: 70px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><font color="red">&nbsp;*&nbsp;必填</font></td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">性别:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;">
						<select id="edit_userSex" >
							<option value="">---请选择---</option>
							<option value="0">未知</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">身份证号:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><input type="text" id="edit_idNum" style="width:200px; height:20px;" /></td>
					<td style="width: 70px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><font color="red">&nbsp;*&nbsp;必填</font></td>
				</tr>
				<tr style="height: 35px;">
					<td style="width: 100px; text-align: right; border: 1px solid #CCCCCC;  background-color: #EDEDED;">手机号码:</td>
					<td style="width: 200px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><input type="text" id="edit_mobile" style="width:200px; height:20px;" /></td>
					<td style="width: 70px; text-align: left; border: 1px solid #CCCCCC;  border-left: 0px;"><font color="red">&nbsp;*&nbsp;必填</font></td>
				</tr>
			</table>
		</div>
		<div align="center" style = "margin-top:10px;">
			<input type="button" value="更新" id="updateUserInfo" style="width:100px;background-color:#4691d1; border:1px solid #047adf; display:block; text-align:center; color:white; font-size:14px;line-height:30px;font-family:'微软雅黑';"/>
		</div>
	</div>	
</div>
<div region="south" split="true" border="false" style="background: #DFE8F6;"></div>
</body>
</html>